<div class="row">
    <div class="col-7">

        <img src="assets/logo.jpeg" class="img-fluid" alt="...">
    </div>
    <div class="col-5">
        <p>
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
             Easily make an element as wide or as tall with our width and height utilities.
        </p>
    </div>
</div>